/* app css stylesheet */
.animelistitem .thumb img{
	max-width: 100px;
	float: left;
	padding-right: 10px;
}

.row-fluid .span4.animelistitem {
	padding: 0 1em 1em 0;
	min-height: 160px;
	margin-bottom: 1em;
	border-bottom: 1px solid #ddd;
}

.row-fluid .animelistitem .span6.imagespan{
	float: left
}

.animedetailitems{
	color: #fff;
    position: relative;
}

.animedetailitemstext {
	padding: 20px 20px 10px 20px;
    margin-top: -140px;
	background-color: rgba(0,0,0,0.7);
}

.sidebar-nav form{
	margin: 0px;
}

.well.sidebar-nav{
	padding: 10px;
}