
    <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <!--Sidebar content-->
        <div class="well sidebar-nav">
          <h4>Find New Anime</h4>
          <form name="findAnimeForm" ng-controller="findAnimeFormCtrl" ng-submit="submit()">
              <input name="animeSlug" ng-model="anime.slug" style="width:205px" required>
              <input type="submit" class="btn btn-success" value="Go" style="margin-bottom: 9px;"/>
              <span class="error" ng-show="findAnimeForm.input.$error.required">Required!</span><br>
          </form>
          <p id="errorMessage"></p>
          <h4>Search Listed Anime</h4>
          <input ng-model="query">
          <h4>Sort by:</h4>
          <select ng-model="orderProp">
            <option value="title">Alphabetical</option>
          </select>
        </div>
      </div>

      <div class="span9">
        <div ng-repeat="anime in animes | filter:query | orderBy:orderProp">
          <div class="span4 animelistitem" ng-show="anime">
            <a href="#/animes/{{anime.slug}}" class="thumb"><img class="offlineImage" onerror="imageError()" ng-src="{{anime.cover_image}}"></a>
            <h3><a href="#/animes/{{anime.slug}}">{{anime.title}}</a></h3>
            <ul>
              <li ng-repeat="genre in anime.genres">{{genre.name}}</li>
            </ul>
            <a href="#/animes/{{anime.slug}}" class="btn btn-primary">More Info <i class="icon-white icon-chevron-down"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>


