<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <!--Sidebar content -->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="span9">
      <!--Body content -->

      <ul class="animes">
        <li ng-repeat="anime in animes | filter:query | orderBy:orderProp">
          <a href="#/animes/{{anime.id}}" class="thumb"><img ng-src="{{anime.cover_image}}"></a>
          <h2><a href="http://hummingbird.me{{anime.url}}">{{anime.title}}</a><h2>
          <p>- <span ng-repeat="genre in anime.genres">{{genre.name}} - </span></p>
        </li>
      </ul>

    </div>
  </div>
</div>