
    <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <!--Sidebar content-->
        <div class="well sidebar-nav">
          <h4>Find New Anime</h4>
          <form name="findAnimeForm" ng-controller="findAnimeFormCtrl" ng-submit="submit()">
              <input name="animeSlug" ng-model="anime.slug" style="width:205px" required>
              <input type="submit" class="btn btn-success" value="Go" style="margin-bottom: 9px;"/>
              <span class="error" ng-show="findAnimeForm.input.$error.required">Required!</span><br>
              <!--<tt>Title = {{anime.slug}}</tt><br>
              <!--<tt>input.$valid = {{findAnimeForm.animeTitle.$valid}}</tt><br>
              <tt>input.$error = {{findAnimeForm.animeTitle.$error}}</tt><br>
              <tt>$valid = {{findAnimeForm.$valid}}</tt><br>
              <tt>$error.required = {{!!findAnimeForm.$error.required}}</tt><br>-->
          </form>
          <h4>Search Listed Anime</h4>
          <input ng-model="query">
          <h4>Sort by:</h4>
          <select ng-model="orderProp">
            <option value="title">Alphabetical</option>
          </select>
        </div>
      </div>

      <div class="span9">
        <div ng-repeat="anime in animes | filter:query | orderBy:orderProp">
          <div class="span4 animelistitem" ng-show="anime">
            <a href="#/animes/{{anime.slug}}" class="thumb"><img ng-src="{{anime.cover_image}}" onerror='imageError()'></a>
            <h3><a href="#/animes/{{anime.slug}}">{{anime.title}}</a></h3>
            <ul>
              <li ng-repeat="genre in anime.genres">{{genre.name}}</li>
            </ul>
            <a href="#/animes/{{anime.slug}}" class="btn btn-primary">More Info <i class="icon-white icon-chevron-down"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>





<!--<div ng-repeat="anime in animes | filter:query | orderBy:slug">
  <span ng-switch on="$index % 3">
    <span ng-switch-when="0">
      <div class="row-fluid">
        <div class="span4 animelistitem" ng-show="animes[$index+0]">
          <a href="#/animes/{{animes[$index+0].slug}}" class="thumb"><img ng-src="{{animes[$index+0].cover_image}}"></a>
          <h3><a href="#/animes/{{animes[$index+0].slug}}">{{animes[$index+0].title}}</a></h3>
          <ul>
            <li ng-repeat="genre in animes[$index+0].genres">{{genre.name}}</li>
          </ul>
          <a href="#/animes/{{animes[$index+0].slug}}" class="btn btn-primary">More Info <i class="icon-white icon-chevron-down"></i></a>
        </div>
        <div class="span4 animelistitem" ng-show="animes[$index+1]">
          <a href="#/animes/{{animes[$index+1].slug}}" class="thumb"><img ng-src="{{animes[$index+1].cover_image}}"></a>
          <h3><a href="#/animes/{{animes[$index+1].slug}}">{{animes[$index+1].title}}</a></h3>
          <ul>
            <li ng-repeat="genre in animes[$index+0].genres">{{genre.name}}</li>
          </ul>
          <a href="#/animes/{{animes[$index+1].slug}}" class="btn btn-primary">More Info <i class="icon-white icon-chevron-down"></i></a>
        </div>
        <div class="span4 animelistitem" ng-show="animes[$index+2]">
          <a href="#/animes/{{animes[$index+2].slug}}" class="thumb"><img ng-src="{{animes[$index+2].cover_image}}"></a>
          <h3><a href="#/animes/{{animes[$index+2].slug}}">{{animes[$index+2].title}}</a></h3>
          <ul>
            <li ng-repeat="genre in animes[$index+0].genres">{{genre.name}}</li>
          </ul>
          <a href="#/animes/{{animes[$index+2].slug}}" class="btn btn-primary">More Info <i class="icon-white icon-chevron-down"></i></a>
        </div>
      </div>
    </span>
  </span>
</div>-->
